
div.status {
  margin: 0;
  font-size: 80% /*smaller*/;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  position: fixed;
  bottom: 1em;
  left: auto;
  float: left; 
  right: 1em;
  filter:alpha(opacity=25); 
  -moz-opacity: 0.25; 
  opacity: 0.25;
}

body>div.status {position: fixed}

div.status div {
  margin: 0 0 0 0;
  padding: 0.2em 0.2em 0.2em 1.5em;
  font-family: Verdana, Arial, sans-serif;
  background: #306754;
  border: thin outset #306754;
  color:white;
}

div.statusTransOFF {
  margin: 0;
  font-size: 80% /*smaller*/;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  position: fixed;
  bottom: 1em;
  left: auto;
  float: left; 
  right: 1em;
  filter:alpha(opacity=75); 
  -moz-opacity: 0.75; 
  opacity: 0.75;
}

body>div.statusTransOFF {position: fixed}

div.statusTransOFF div {
  margin: 0 0 0 0;
  padding: 0.2em 0.2em 0.2em 1.5em;
  font-family: Verdana, Arial, sans-serif;
  background: #306754;
  border: thin outset #306754;
  color:white;
}

span.user_img{
	
	width:24px;
	height:24px;
	background:transparent center left no-repeat;
	position:absolute;
	background-image:url(images/user24.png);
}

.logout_img{
	margin: 0;
  	padding: 0;
  	border: 0;
	width:24px;
	height:24px;
	background: transparent url(images/logout.png) no-repeat center top;
	position:relative;
	cursor: pointer; 
	cursor: hand;
}

html>body> span.user_img {
	background-image:url(images/user24.png);
}


html>body> span.logout_img {
	background-image:url(images/logout.png);
}

